*.code-workspace

# Environment Variables
.env

# mounted volume
sites

development
!development/README_en.md
!development/README_zh.md
deploy_key
deploy_key.pub

# Pycharm
.idea

# VS Code devcontainer
.devcontainer
